.cookbox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-block-start: 5rem;
  width: 100%;
  max-width: var(--max-width);
}

.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-block: 2rem 1rem;
  row-gap: 1rem;
  width: 20rem;
  list-style-type: none;
}

.menu li {
  display: flex;
  flex-direction: row;
}

.dish {
  margin-block: 0 1rem;
  width: 6rem;
  height: 2rem;
}

.dish:hover {
  color: var(--white);
  background-color: var(--red);
}