.packingbox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: var(--max-width);
  height: 80dvh;
  scroll-snap-align: start;
}

.innerbox {
  display: flex;
  justify-content: center;
  margin-block: 2rem;
  margin-inline: auto;
  width: 20rem;
}

.input {
  padding-inline: .5rem;
  width: 12rem;
  height: 3rem;
  caret-color: var(--red) !important;
  background-color: var(--white-bg);
  backdrop-filter: var(--default-blur);
  border: var(--default-border);
  color: var(--white);
  opacity: 1;
  overflow: hidden;
}

.button {
  width: 5rem;
  height: 3rem;
  color: var(--white);
  background-color: var(--gray);
}

.button:hover {
  color: var(--white);
  background-color: var(--red);
}

.list {
  margin-block: 0 2rem;
  width: 18rem;
  list-style-type: none;
  accent-color: var(--red);
}

.list li {
  display: grid;
  margin-inline: auto;
  grid-template-columns: 12% 78% 10%;
  align-items: center;
  min-height: 3rem;
  text-wrap: balance;
}

.checkbox,
.list button {
  width: 1.2rem;
  height: 1.2rem;
  border-radius: 50%;
  transition: all .2s ease-in;
}

.checkbox {
  appearance: none;
  background-color: var(--white-bg);
  backdrop-filter: var(--default-blur);
  box-shadow: 0px 0px 0px 1px var(--red);
}

.checkbox:hover {
  opacity: 0.8;
  transform: scale(1.1);
}

.checkbox:checked {
  background-color: var(--red);
}

.list button:hover {
  color: var(--white);
  background-color: var(--red);
  transform: scale(1.1);
}

.result {
  position: relative;
  z-index: 1;
  width: fit-content;
  font-size: 1.5rem;
  font-weight: 300;
  text-align: center;
}

.result::after {
  content: '';
  position: absolute;
  left: 0;
  z-index: -1;
  background-color: var(--red);
  width: 100%;
  height: 0.2rem;
  transform: translateY(1.5rem);
}