.clockbox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-block: 20rem 0;
  width: 100%;
  max-width: var(--max-width);
  height: 80dvh;
  scroll-snap-align: start;
}

.input {
  margin-block: 3rem;
  font-size: 1.5rem;
  text-align: center;
  width: 18rem;
  height: 3rem;
  color: var(--white);
  caret-color: var(--red) !important;
  background-color: var(--white-bg);
  backdrop-filter: blur(15px);
  border: var(--default-border);
}

.clock {
  font-size: 5rem;
}