.links,
.links ul,
.links li {
  background-color: transparent;
}

.links {
  position: fixed;
  top: 2rem;
  z-index: 666;
  width: inherit;
  max-width: inherit;
}

.links ul {
  display: flex;
  flex-wrap: wrap;
  margin-inline: auto;
  width: fit-content;
  font-size: 1.5rem;
  list-style: none;
}

.links li {
  padding-right: 3.25rem;
  background-color: var(--gray);
}

.links li:hover {
  background-color: var(--red);
  cursor: pointer;
}

.links li:hover::after {
  content: "←";
  position: absolute;
  transform: translate(0.85rem, -0.05rem);
}

.links li.active {
  color: var(--black);
  background-color: var(--white);
  cursor: default;
}

.links li.active::after {
  content: "↓";
  position: absolute;
  transform: translate(1.2rem, -0.1rem);
}