.links,
.links ul,
.links li {
  background-color: transparent;
}

.links {
  position: fixed;
  top: 2rem;
  z-index: 666;
  width: inherit;
  max-width: inherit;
}

.links ul {
  display: flex;
  flex-wrap: wrap;
  margin-inline: auto;
  width: fit-content;
  font-size: 1.5rem;
  list-style: none;
}

.links li {
  padding-inline: 2.5rem 1.25rem;
  background-color: var(--gray);
}

.links li:hover {
  background-color: var(--red);
  cursor: pointer;
}

.links li.active {
  color: var(--black);
  background-color: var(--white);
  cursor: default;
}

.links li:hover::before,
.links li.active::before {
  content: "→";
  position: absolute;
  transform: translate(-2rem, -0.05rem);
}