.cart {
  margin-block-end: 8rem;
}

.cart h1 {
  margin-block-start: 4rem;
}

.cart ul {
  margin-block-start: 2rem;
  padding-block: 1rem;
  background-color: var(--white-bg);
  backdrop-filter: blur(15px);
  border: 3px solid var(--white);
}

.cart ul li {
  margin-inline: 2rem;
  display: flex;
  justify-content: space-between;
}

.cart ul li:not(:last-child) {
  margin-bottom: 1rem;
}

.cart p {
  margin-inline-end: 1rem;
  width: fit-content;
  line-height: 2rem;
}

.cart .empty {
  width: 100%;
  text-align: center;
}

.cart .count {
  font-weight: 600;
}

.cart .buttons {
  display: flex;
  gap: .5rem;
}

.cart .plus,
.cart .minus {
  width: 2rem;
  height: 2rem;
  border-radius: 50px;
}

@media screen and (max-width: 991px) {
  .cart p {
    max-width: 8rem;
  }
}