.cart {
  margin-block: 20rem;
  scroll-snap-align: start;
}

.cart ul {
  margin-block-start: 2rem;
  padding-block: 1rem;
  background-color: var(--white-bg);
  backdrop-filter: blur(15px);
  border: var(--default-border);
}

.cart ul li {
  margin-inline: 2rem;
  display: flex;
  justify-content: space-between;
}

.cart ul li:not(:last-child) {
  margin-bottom: 1rem;
}

.cart p {
  margin-inline-end: 1rem;
  width: fit-content;
  line-height: 2rem;
}

.cart .count {
  font-weight: 600;
}

.cart .buttons {
  display: flex;
  gap: .75rem;
}

.cart .plus,
.cart .minus {
  width: 2rem;
  height: 2rem;
  font-weight: 600;
  border-radius: 50px;
}

.cart button:hover {
  opacity: 0.8;
}

.cart .empty {
  margin: 0;
  width: 100%;
  text-align: center;
}

@media screen and (max-width: 991px) {
  .cart p:not(.empty) {
    max-width: 8rem;
  }
}