.gallery {
  display: grid;
  padding-block-start: 6rem;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  column-gap: 2rem;
  scroll-snap-align: start;
}

.gallery h1 {
  height: fit-content;
  grid-column: 1 / 3;
}

.profile {
  display: flex;
  margin-block: 2rem 0;
  padding: 1rem;
  width: 300px;
  flex-direction: column;
  background-color: var(--white-bg);
  backdrop-filter: var(--default-blur);
  border: var(--default-border);
}

.profile img {
  margin-block: 1.5rem;
  margin-inline: auto;
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50px;
}

.profile ul {
  list-style-type: none;
}

.profile ul li:not(:last-child) {
  margin-bottom: 1rem;
}

.profile ul li {
  line-height: 1.5;
}

.profile ul span {
  position: relative;
  z-index: 1;
  font-weight: 600;
  width: fit-content;
}

.profile ul span::after {
  content: '';
  position: absolute;
  left: 0;
  z-index: -1;
  width: calc(100% - 1ch);
  height: .1rem;
  backdrop-filter: invert(1);
  -webkit-backdrop-filter: invert(1);
  transform: translateY(1.5rem);
}

@media screen and (max-width: 991px) {
  .gallery {
    padding-block-start: 2rem;
    margin-block-end: 5rem;
    grid-template-columns: 300px;
  }

  .gallery h1 {
    grid-column: 1;
  }
}